* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.home-container .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-container .content table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-container .content th,
.home-container .content td {
  text-align: left;
  padding: 10px;
  height: 50px;
  border: 1px solid #c8c7c7;
}

.home-container .content th {
  font-size: 30px;
}

.home-container .content td {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container .content tr:nth-child(even) {
  background-color: #c1bfbf;
}

.home-container td:hover {
  cursor: pointer;
  background-color: #c1bfbf;
}
